:root {
    --beige-custom: rgba(44, 42, 27, 0.5);
    --header-color: rgb(249, 215, 215);
    --default-box-shadow: 1px 1px 10px 1px rgb(0, 86, 86);
}

h1 {
    margin: 50px 0px;
    text-align: center;
    color: var(--header-color);
}

input {
    margin: 5px 0;
}

footer {
    margin: 100px auto 20px;
}

.form-control:focus {
    background-color: rgb(182, 236, 227);
    border-width: 6;
    border-color: rgb(67, 209, 253);
}

.form-control:hover {
    border-width: 6;
    border-color: rgb(67, 209, 253);
}

.all-budget-choices, .expenses-table {
    box-shadow: var(--default-box-shadow);
 }
 
.budget-panels {
    width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.home-panels {
    padding-right: 100px;
    padding-left: 100px;
    border-radius: 100px;
}   


.submit-btn {
    padding: 8px 20px;
}


.btn-close.cross {
    font-size: 35px;
}

.page-explanations {
    border-radius: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: var(--default-box-shadow);
    color: lightgray;
    font-size: 18px
}

.page-explanations-homepanels {
    background-color: rgba(41, 41, 41, 0.5);
    border-radius: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 1px rgba(219, 106, 0, 0.5);
    color: lightgray;
    font-size: 18px
}

.finance-explanations {
    color: lightgray;
}

#new-budget-tips {
    background-color: var(--beige-custom);
    border-radius: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: var(--default-box-shadow);
}

#form-new-budget, #form-edit-budget, #form-submit-expenses, .list-group-balance {
    background-color: rgba(29, 0, 23,0.2);
    padding: 20px;
    border-radius: 20px;
    box-shadow: var(--default-box-shadow);
}

.list-group-balance {
    font-size: 20px;
}

.list-item-capital-balance {
    color: greenyellow;
}

.list-item-eatout-balance {
    color: rgb(255, 90, 173);
}   

.list-item-entert-balance {
    color: skyblue
}

.list-item-total-balance {
    color: orange;
}